/* style for contact page */

.contact-page {
  height: calc(100vh - 155px);
}

/* style for form */
.form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* style form input and text area */
  .form input,
  .form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* style for textarea */
  .form textarea {
    height: 100px; 
  }
  
  /* style form button */
  .form button {
    background-color:  rgb(70, 133, 128); 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color:  rgb(52, 91, 89); 
  }
  
  /* style for container */
  .container {
    color: #fff;
  }
  
  .container ul {
    color:  rgb(39, 171, 160) ;

  }
  .container a:link {
    text-decoration: none;
  }


  @media(max-width: 768px) {
    .contact-page {
      height: calc(100vh - 185px);
    }
}

@media(max-height: 790px) {
  .contact-page {
    height: 100%;
  }
}