/* style for footer component */

/* style for footer*/
.footer {
   
    padding: 2px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    position: relative;
   
    
    
}

/* style for footer paragraph */

.footerText p {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color:#fff;
  
}

/* style for social icon */
.socialIcon {
    height: 50px;
    width: 50px;
   margin-right: 10px;
   margin-left: 10px;
   cursor: pointer;
   margin-top: 20px;
   filter: invert(100%);
  
   
}

.socialIcon:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  
/* style for github icon*/
#githubIcon {
    width: 85px;
    height: 85px;
    margin-right: 0px;
    margin-top: 2px;
    margin-left: 10px;

   
}

@media (max-width: ) {
    
}




  
    