/* style for  navbar */

/* style for nav link */
.nav-link {
   font-size: 21px;
   color: rgb(239, 242, 244);
}


/* Style for the links on hover */
.navbar-nav .nav-link:hover {
    color:  rgb(94 234 212); 
 
  }
  
  /* navbar toggle style */
  .navbar-toggler {
   color: rgb(94 234 212);
  }
 
 
  