.home {
    width: 100%;
    height: 100%;
    background-image: url('../images/boxes.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; 


}
.container-fluid {
    text-align: center;
    color: white;  
}
